<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMeteorologyData" />
        <binding name="BasicHttpBinding_IDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMeteorologyData"
        contract="MeteorologyDataService.IMeteorologyData" name="BasicHttpBinding_IMeteorologyData" />
      <endpoint address="http://221.207.21.89:8089/FreshWCF/DataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
        contract="QHDataService.IDataService" name="BasicHttpBinding_IDataService" />
    </client>
  </system.serviceModel>
</configuration>